.titleStyle
{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


body{
    background: url('pexels-scottwebb-2117937.jpg');
    background-size: 1920px 1080px;
    
}